* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Cardo';
    src: url(./fonts/Cardo-Italic.ttf);
    font-weight: "Italic";
}
@font-face {
    font-family: 'Cardo-Bold';
    src: url(./fonts/Cardo-Bold.ttf);
    font-weight: "Bold";
}

/* GLOBAL */
a {
    text-decoration: none;
}
/* BODY */
body{
    background-image: url(./assets/images/fondo-body.png);
    font-family: 'Cardo';
}
/* HEADER */
header {
    display: flex;
}

.titulo{
    background-color: rgba(120, 0, 0, 0.8);
    font-size: 30px;
    padding: 60px 200px;
}

.titulo h1{
    text-align: center;
    text-shadow: 5px 3px 7px #000;
}
.titulo h1 a{
    color: #669BBC;
}
.nav-container {
    display: none;
    width: 100%;
    text-align: center;
    background-color: rgba(120, 0, 0, 0.8);
}
header nav ul{
    text-align: center;
    list-style: none;
    width: 100%;
}
header nav ul li{
    display: inline-block;
    padding: 30px 50px; 
    background: radial-gradient(ellipse closest-side,#C1121F 5%,rgba(120, 0, 0, 0.6) 80%);
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 70px;
    padding: 40px 60px;
}
header nav ul li a:hover{
    text-shadow: 5px 2px 3px #FDF0D5;
    font-family: 'Cardo-Bold';
    transition: 0.4s;
}
.nav-inicio {
    font-family: 'Cardo-Bold';
    text-shadow: 2px 2px 3px #FDF0D5;
}
.login{
    font-family: 'Cardo-Bold';
    float: left;
    padding-left: 50px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline 1px;
    text-shadow: 1px 1px 8px #FDF0D5;
}
.login:hover{
    color: #FDF0D5;
    transition: 0.4s;
}
.busqueda{
    font-family: 'Cardo-Bold';
    float: right;
    padding-right: 50px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 20px; 
    border: none;
    text-shadow: 1px 1px 8px #FDF0D5;
}
.busqueda label{
    text-decoration: underline 1px;
}
/* MAIN */
.titulo-secundario{
    text-align: center;
    font-size: 30px;
    margin-top: 75px;
    margin-bottom: 35px;
    text-decoration: underline 1px;
    text-shadow: 5px 3px 7px #000;
    color: #669BBC;
}
.info-nos{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.info-nos p{
    font-family: 'Cardo-Bold';
    background-color: rgba(102, 155, 188, 0.4);
    font-size: 20px;
    padding: 10px;
    /* margin-top: 85px; 
    margin-bottom: 85px;   */
    /* border: 10px 10px; */
    line-height: 1.5;
    text-align: center;
    max-width: 1000px; 
    box-shadow: 3px 3px 10px black;
}
.imagen{
    width: 600px;
    margin-right: 75px;
    box-shadow: 3px 3px 10px black;
}
/* FOOTER */
.footer{
    background-color: rgba(120, 0, 0, 0.6);
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.correo-e{
    font-size: 20px;
    margin: 50px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 15px;
    border-style: inset;
    background-color: rgba(253, 240, 213, 0.5);
    /* display: inline-block; */
    box-shadow: 3px 3px 10px black;
}  
.correo-e h5{
    font-family: 'Cardo-Bold';
    text-decoration: underline 1px;
}
.correo-e a{
    color: black;
}
.correo-e a:hover{
    color: #FDF0D5;
}
.redes{
    /* float: right; */
    /* margin-top: 60px;
    margin-right: 50px;  */
    /* align-items: center; */
    position: absolute;
    right: 50px;
}
.redes img{
    width: 45px;
    margin: 15px;
}
 /* #wpp{
    margin: 15px; 
}
#fb{
    margin: 15px;
    height: 45px; 
}
#ig{
    margin: 15px; 
} */
/* PAGINA LOGIN */
/* MAIN */
#login-main{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    background-color: rgba(102, 155, 188, 0.4);
    font-family: 'Cardo-Bold';
    box-shadow: 2px 3px 7px black;
    width: 500px;
    /* position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 10px; */
}
.formulario h2{
    text-align: center;
    padding: 10px;
    text-decoration: underline 1px black;
}
form input{
    width: 100%;
    height: 25px;
    background: rgb(253, 240, 213);
}
.usuario{
    padding: 10px 20px;
}
.contrasena{
    padding: 10px 20px;
}
#boton-login{
    height: 30px;
    /* min-width: 90%; */
    border: 1px solid black;
    border-radius: 15px;
    background: #C1121F;
    font-size: 17px;
    cursor: pointer;
}
#boton-login[type="submit"]:hover{
    background: #FDF0D5;
    transition: 0.8s;
}
.recuperar{
    text-align: center;
    padding: 10px;
}
.recuperar a{
    color: #669BBC;
    text-decoration: none;
    text-shadow: 3px 2px 4px black;
    font-size: 18px;
}
.recuperar a:hover{
    color: #C1121F;
    transition: 0.4s;
}
.registro{
    text-align: center;
    padding: 10px;
}
.registro a{
    color: #669BBC;
    text-decoration: none;
    text-shadow: 3px 2px 4px black;
    font-size: 18px;
}
.registro a:hover{
    color: #C1121F;
    transition: 0.4s;
}
/* FOOTER LOGIN */
#login-footer{
    background-color: rgba(120, 0, 0, 0.6);
    /* z-index: 0;
    position: relative; */
    /* width: 1903px;
    height: 174px; */
}
#login-footer p{
    margin: 70px;
    display: inline-block;
    font-size: 18px;
}
#login-footer p a{
    color: black;
}
#login-footer p a:hover{
    color: #669BBC;
}
#redes{
    float: right;
    margin-top: 60px;
    margin-right: 50px; 
}
#redes img{
    width: 45px;
}

/* PAGINA POEMAS */
/* HEADER */
.nav-poema {
    font-family: 'Cardo-Bold';
    text-shadow: 2px 2px 3px #FDF0D5;
}
.nav-comunidad {
    font-family: 'Cardo-Bold';
    text-shadow: 2px 2px 3px #FDF0D5;
}
.nav-resenas {
    font-family: 'Cardo-Bold';
    text-shadow: 2px 2px 3px #FDF0D5;
}
/* MAIN */
.poemas-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 80%;
    gap: 80px 0px;
    margin-top: 150px;
}
.poema{
    /* display: inline-block; */
    width: 250px;
    height: 580px;
    border: solid 1px rgba(253, 240, 213, 0.5);
    box-shadow: 4px 5px 9px black;
    /* margin: 150px; */
    background: rgba(120, 0, 0, 0.7);
}
.poema:hover{
    box-shadow: 8px 10px 25px black;
    transition: 0.4s;
    cursor: pointer;
}
.poema img{
    width: 100%;
}
.poema h5{
    font-size: 25px;
    padding: 15px 15px 6px;
    text-align: center;
    text-decoration: underline 1px;
    color: #669BBC;
}
.poema p{
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 0px 20px;
}
.ir-poema {
    display: flex;
    justify-content: center;
}
/* .ir-poema p{
        padding: 50px;
} */
.ir-poema a{ 
    font-size: 17px;
    text-align: center; 
    color: #FDF0D5;
}
.ir-poema a:hover{
    font-size: 20px;
    transition: 0.3s;
}
/* #poema2{
    float: right;
    /* margin-right: 600px;
} */
/* #poema2 p{
    margin: 60px 0px;
} */
/* FOOTER POEMAS */

@media (min-width:600px) {
    .nav-container {
        display: flex;
        
    }
    .info-nos {
        display: flex;
        
    }
}

/* @media (min-width:768px) {
    header {
        display: block;
    }
    .nav-container {
        display: flex;
    }
}

@media (min-width:920px) {

} */